
<!-- <img src='/assets/images/Alpha-48.png' -->

<center><h1 style="font-family: arial, sans-serif;">Welcome to the alpha-blog Home!</h1></center>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
</style>

<table>
    <tr>
        <td border="1">We like to talk about table data</td><td border="1">Lots of table data</td>
    </tr>
    
</table>

<br>
<hr>
<footer>
<p style="font-family: arial, sans-serif;">Posted by: Brian the Alpha blogger</p>
<%= link_to 'Click Here to learn About... alpha-blog', about_path %>
</footer>